
<table class="table table-hover">
  <thead>
    <tr>
      <th> # </th>
      <th> Flag </th>
      <th> Capital, Country </th>
      <th> Population </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries; index as i" >
      <td> {{i}} </td>
      <td>
        <img class="small-flag"
          [src]="country.flag"
          [alt]="country.flag"
        />
      </td>
      <td> {{country.capital}}, {{country.name}} </td>
      <td> {{country.population | number }} </td>
      <td> <a [routerLink]="['/country', country.alpha2Code]">Ver...</a> </td>
    </tr>
  </tbody>
</table>
